---
import MainLayout from "@/layouts/MainLayout.astro";
import { getCollection } from "astro:content";
const projectsEntries = await getCollection("projects");
import { Icon } from "astro-icon/components";
---

<MainLayout title="Projects">
  <div class="-z-10 mx-auto max-w-max md:z-0">
    <div class="mb-8 pt-16">
      <h1 class="text-4xl font-extrabold">My Projects</h1>
    </div>
    <div class="card-container flex flex-col gap-8 md:grid md:grid-cols-2">
      {
        projectsEntries.map((entry) => (
          <div class="card mx-auto max-w-fit shadow-2xl md:card-side">
            <div class="card-body">
              <div class="flex justify-between">
                <h2 class="card-title">
                  <a class="font-extrabold" href={`/projects/${entry.slug}`}>
                    {entry.data.title}
                  </a>
                </h2>
                <div class="card-actions">
                  {entry.data.github ? (
                    <div
                      class="tooltip tooltip-bottom"
                      data-tip="View on GitHub"
                    >
                      <a
                        href={"https://github.com/" + entry.data.github}
                        class="btn btn-ghost btn-sm rounded-xl"
                      >
                        <Icon name="carbon:logo-github" class="text-xl" />
                      </a>
                    </div>
                  ) : (
                    <div
                      class="tooltip tooltip-bottom tooltip-error cursor-not-allowed"
                      data-tip="This project is closed-source."
                    >
                      <a href="#" class="btn btn-disabled btn-sm">
                        <Icon name="carbon:logo-github" class="text-xl" />
                      </a>
                    </div>
                  )}
                  {entry.data.demo ? (
                    <div class="tooltip tooltip-bottom" data-tip="Try it now !">
                      <a href={entry.data.demo} class="btn btn-ghost btn-sm">
                        <Icon name="carbon:link" class="text-xl" />
                      </a>
                    </div>
                  ) : (
                    <div
                      class="tooltip tooltip-bottom tooltip-error cursor-not-allowed"
                      data-tip="No demo available."
                    >
                      <a href="#" class="btn btn-disabled btn-sm">
                        <Icon name="carbon:link" class="text-xl" />
                      </a>
                    </div>
                  )}
                </div>
              </div>
              <div>
                {entry.data.tags.map((tag) => (
                  <div
                    class="badge badge-secondary m-1 rounded-md py-3 font-semibold tracking-wide"
                    style={
                      "color:" +
                      tag.color +
                      "; background-color:" +
                      tag.color +
                      "30" +
                      "; border-color:" +
                      tag.color +
                      "30;"
                    }
                  >
                    <Icon name={tag.icon} class="mr-2" />
                    {tag.name}
                  </div>
                ))}
              </div>
              <div class="divider m-0 -mt-1" />
              <p>{entry.data.description}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</MainLayout>
