---
import MainLayout from "../layouts/MainLayout.astro";
import { getCollection } from "astro:content";
const projectsEntries = await getCollection("projects");
import { Icon } from "astro-icon/components";
---

<MainLayout title="Projects">
  <div class="relative -z-10 mx-auto max-w-max md:static md:z-0">
    <div class="mb-8 pt-16">
      <h1 class="text-4xl font-extrabold">My Projects</h1>
    </div>
    <div class="card-container flex flex-col gap-8">
      {
        projectsEntries.map((entry) => (
          <div class="card mx-auto max-w-fit shadow-2xl md:card-side">
            <div class="card-body gap-4">
              <h2 class="card-title border-b-[1px] border-base-content pb-1">
                <a
                  class="magic font-extrabold"
                  href={`/projects/${entry.slug}`}
                >
                  {entry.data.title}
                </a>
              </h2>
              <div class="flex flex-row gap-3 overflow-x-auto pb-4 md:overflow-x-hidden">
                <div class="badge badge-accent py-2">{entry.data.type}</div>
                &centerdot;
                {entry.data.tags.map((tag) => (
                  <div class="badge badge-secondary py-2">{tag}</div>
                ))}
              </div>
              <p>{entry.data.description}</p>
              <div class="card-actions">
                <div class="tooltip tooltip-bottom" data-tip="View on GitHub">
                  <a
                    href={"https://github.com/" + entry.data.github}
                    class="btn btn-ghost rounded-xl text-lg"
                  >
                    <Icon name="carbon:logo-github" class="text-3xl" />
                    &ThinSpace; Source
                  </a>
                </div>
                {entry.data.demo ? (
                  <div class="tooltip tooltip-bottom" data-tip="Try it now !">
                    <a href={entry.data.demo} class="btn btn-ghost text-lg">
                      <i class="fa-solid fa-arrow-up-right-from-square" />
                      &ThinSpace; Demo
                    </a>
                  </div>
                ) : (
                  <div />
                )}
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</MainLayout>
