---
import ToggleTheme from "./ToggleTheme.astro";
import { navItems } from "../data/nav";
import { socialItems } from "../data/socials";
---

<nav class="sticky flex py-4 w-full h-20 items-center">
  <a href="/" class="uppercase">
    <!-- <img src="/icon.svg" alt="logo" class="h-8" /> -->
    <!-- lyenx.com -->
    <div class="logo-lynx h-10 w-10"></div>
  </a>

  <ul class="hidden md:flex p-0 menu menu-horizontal ml-auto">
    {
      navItems.map(({ href, label }) => (
        <li class="rounded-xl">
          <a href={href} class="active:bg-base-content/30 active:text-inherit">
            {label}
          </a>
        </li>
      ))
    }
    {
      socialItems.map(({ href, label, icon }) => (
        <li
          class="rounded-xl tooltip tooltip-bottom tooltip-secondary"
          data-tip={label}
        >
          <a href={href} class="active:bg-base-content/30 active:text-inherit">
            <i class={icon} />
          </a>
        </li>
      ))
    }
    <li class="rounded-xl"><ToggleTheme /></li>
  </ul>
  <div class="dropdown dropdown-end md:hidden flex ml-auto">
    <label tabindex="0" class="btn btn-square btn-ghost m-1 text-2xl"
      ><i class="fa fa-bars"></i>
    </label>
    <ul
      tabindex="0"
      class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52 border-solid border-2 border-secondary"
    >
      <ul class="menu menu-vertical">
        {
          navItems.map(({ href, label }) => (
            <li class="rounded-xl">
              <a
                href={href}
                class="active:bg-base-content/30 active:text-inherit"
              >
                {label}
              </a>
            </li>
          ))
        }
        <ul class="menu menu-horizontal menu-compacty">
          {
            socialItems.map(({ href, label, icon }) => (
              <li
                class="rounded-xl tooltip tooltip-top tooltip-secondary"
                data-tip={label}
              >
                <a
                  href={href}
                  class="active:bg-base-content/30 active:text-inherit"
                >
                  <i class={icon} />
                </a>
              </li>
            ))
          }
        </ul>
      </ul>
      <li><ToggleTheme /></li>
    </ul>
  </div>
</nav>
