---
import ToggleTheme from "./ToggleTheme.astro";
import { navItems } from "../data/nav";
import { socialItems } from "../data/socials";
import { Icon } from "astro-icon/components";
---

<nav class="sticky flex h-20 items-center pt-4">
  <a href="/" aria-label="Home">
    <div class="logo-lynx h-10 w-10"></div>
  </a>

  <ul class="menu menu-horizontal ml-auto hidden gap-1 p-0 md:flex">
    {
      navItems.map(({ href, label }) => (
        <li class="rounded-xl">
          <a href={href} class="btn btn-ghost my-auto text-lg font-normal">
            {label}
          </a>
        </li>
      ))
    }
    {
      socialItems.map(({ href, label, icon }) => (
        <li
          class="tooltip tooltip-bottom tooltip-primary rounded-xl"
          data-tip={label}
        >
          <a href={href} aria-label={label} class="btn btn-square btn-ghost">
            <Icon name={icon} class="text-3xl" />
          </a>
        </li>
      ))
    }
    <li class="rounded-xl"><ToggleTheme /></li>
  </ul>
  <div class="dropdown dropdown-end ml-auto flex md:hidden">
    <label tabindex="0" class="btn btn-square btn-ghost m-1 text-2xl"
      ><Icon name="carbon:menu" class="text-3xl" /></label
    >
    <ul
      tabindex="0"
      class="menu dropdown-content z-[1] w-52 rounded-box bg-base-100 p-2 shadow-2xl"
    >
      <ul class="menu menu-vertical">
        {
          navItems.map(({ href, label }) => (
            <li>
              <a href={href} class="text-lg">
                {label}
              </a>
            </li>
          ))
        }
        <ul class="menu menu-horizontal">
          {
            socialItems.map(({ href, label, icon }) => (
              <li
                class="tooltip tooltip-bottom tooltip-primary"
                data-tip={label}
              >
                <a href={href} class="btn btn-square btn-ghost">
                  <Icon name={icon} class="text-3xl" />
                </a>
              </li>
            ))
          }
        </ul>
      </ul>
      <li class="menu menu-horizontal">
        <ToggleTheme /><span class="my-auto text-lg">Theme</span>
      </li>
    </ul>
  </div>
</nav>
<div class="divider mt-0"></div>
