---
import ToggleTheme from "./ToggleTheme.astro";
import { navItems } from "../data/nav";
import { socialItems } from "../data/socials";
---

<nav class="opacity-90 sticky flex py-4 px-8 w-full h-20 items-center">
  <a href="/" class="btn btn-ghost">
    <!-- <img src="/icon.svg" alt="logo" class="h-8" /> -->
    lyenx.com
  </a>

  <ul class="hidden md:flex p-0 menu menu-horizontal ml-auto">
    {
      navItems.map(({ href, label }) => (
        <li class="rounded-xl">
          <a href={href}>{label}</a>
        </li>
      ))
    }
    {
      socialItems.map(({ href, label, icon }) => (
        <li
          class="rounded-xl tooltip tooltip-bottom tooltip-secondary"
          data-tip={label}
        >
          <a href={href}>
            <i class={icon} />
          </a>
        </li>
      ))
    }
    <li class="rounded-xl"><ToggleTheme /></li>
  </ul>
</nav>
